*.jl.cov
*.jl.*.cov
*.jl.mem
*.swp
docs/build/
docs/site/
/.ipynb_checkpoints/
docs/src/examples/
test/examples/
test/landau-plot.png
test/bot-plot.png
test/rotanim.gif
test/va-plot.png
test/vlasov-hmf-plot.png
notebooks/.ipynb_checkpoints/
